<a target="_blank" rel="noopener noreferrer" href="https://gitbuilding.io">
    <span class="icon">{% include 'Logo/GitBuilding.svg' %}</span>
    <span class="info">Documentation powered by Git Building</span>
</a>
<p class="author">Copyright {{authors}} {{year}}</p>
<p class="license">{{title}} is released under {{license}}</p>
<p><b>Disclaimer: </b>{{disclaimer}}</p>